

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:500px;
    width: 650px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: var(--White);
    color: var(--CharcoalGrey);
    border-radius:20px ;
    padding: 20px;
}

.left-container{
    margin: 30px;
    font-family: 'Roboto-Regular';
}

.left-container h1{
    font-family: 'Roboto-Bold';
    margin-bottom: 10px;
}

.left-container p{
    margin-bottom: 10px;
    font-size: 12px;
}


.left-container ul li{
    list-style-image: url(/assets/images/icon-list.svg);
    /* padding-right: 10px; */
    font-size: 12px;
    padding-left: 2px;
    margin-bottom: 10px;  
}


.right-container img{
    height: 450px;
    width: 300px;
}

#input-section{
    margin-top: 20px;
    margin-bottom: 30px;
}

#input-section label{
    margin-bottom: 10px;
    font-size: 10px;
    color: var(--CharcoalGrey);
    font-family: 'Roboto-Bold';
}

#input-section input{
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--Grey);
}

#input-section input:hover{
    cursor: pointer;
}

.label{
    display: flex;
    justify-content: space-between;
}

#error-msg{
    font-size: 10px;
    color: var(--Tomato);
    font-family: 'Roboto-Bold';
    text-align: right;
    display: none;
}

#input-section input:focus{
    border: 1px solid var(--Grey);
}

.left-container button{
    width: 100%;
    padding: 15px;
    background-color: var(--CharcoalGrey);
    color: var(--White);
    border-radius: 9px;
    font-family: 'Roboto-Bold';
    border: none;
}

.left-container button:hover{
    cursor: pointer;
    background-color: var(--Tomato);
    color:var(--White)
}